@font-face {
    font-family: 'Calibre';
    src: url('../assets/fonts/CalibreWeb-Light.eot?') format('eot'), url('../assets/fonts/CalibreWeb-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'Calibre';
    src: url('../assets/fonts/CalibreWeb-Thin.eot?') format('eot'), url('../assets/fonts/CalibreWeb-Thin.woff') format('woff');
    font-weight: 200;
    font-style: normal; 
    }
    
    @font-face {
    font-family: 'Calibre';
    src: url('../assets/fonts/CalibreWeb-Regular.eot?') format('eot'), url('../assets/fonts/CalibreWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    
    
    /** Treat Calibre Semibold as Bold, Calibre Bold as a black font **/
    
    @font-face {
    font-family: 'Calibre';
    src: url('../assets/fonts/CalibreWeb-Semibold.eot?') format('eot'), url('../assets/fonts/CalibreWeb-Semibold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'Calibre';
    src: url('../assets/fonts/CalibreWeb-Bold.woff') format('woff'), url('../assets/fonts/CalibreWeb-Bold.eot?') format('eot');
    font-weight: 800;
    font-style: normal;
    }
    
    body {
    height: 100%;
    width: 100%;
    background: #f3f1f1;
    font-family: 'Calibre' !important;
    color: #374b52;
    }
    
    .container {
    width: 960px;
    margin: 0 auto;
    }
    
    .uc_form {
    margin-top: 40px;
    background: white;
    }
    
    .lines-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('../assets/images/homepage-banner-pattern.png') top left;
    background-size: 6px;
    opacity: .3;
    }
    
    .heading {
        background: url(../assets/images/formbackground.jpg);
        position: relative;
        text-align: center;
        height: 200px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .heading img {
    margin: 0 auto;
    width: 27%;
    padding: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    }
    
    hr {
    width: 27px;
    border: 2px solid #2AB4EE;
    margin: 30px auto;
    }
    
    .subheading {
    margin: 24px;
    }
    
    .subheading h1 {
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 30px;
    }
    
    .subheading p {
    text-align: center;
    font-weight: 300;
    color: #5c747d;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 14px;
    margin-top: 3px;
    padding-bottom: 13px;
    }
    
    #submitBtn.hidden {
    display: none;
    }
    
    #submitBtn {
        background: white;
        border: 1px solid #949090;
        color: #2AB4EE;
        text-transform: uppercase;
        font-weight: 600;
        padding: 11px 35px;
        font-size: 18px;
        border-radius: 6px;
        cursor: pointer;
        text-transform: uppercase;
        width: 145px;
        margin: 9px;
        text-align: center;
        margin-bottom: 30px;
        border-color: #2AB4EE;
        color: #2AB4EE;
    }
    
    hr {
    width: 27px;
    border: 2px solid #2AB4EE;
    margin: 24px auto;
    }
    
    /*top box styling*/
    
    .first-field {
    width: 100%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    }
    
    .top-fields .first-field select {
    width: 100%;
    margin: 0px
    }
    
    .top-fields .first-field h3,
    .selectSize h3 {
    display: block;
    text-align: left;
    }
    
    .top-fields .documentSelect {
    display: none;
    }
    
    .top-fields .uc-typeButtons-wrap {
    display: block;
    width: 100%;
    margin-top: 30px;
    }
    
    .top-fields .uc-typeButtons-wrap h3 {
    display: block;
    text-align: left;
    }
    
    /*Radio buttons*/
    .top-fields .uc-typeButton {
    width: 49%;
    display: inline-block;
    background: white;
    color: #374b52;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    text-transform: none;
    display: inline-block;
    text-align: left;
    }
    
    .top-fields .uc-typeButton .uctopradio{
    margin-right: 10px;
    cursor: pointer;
    }
    
    .testIdbutton button {
    background: white;
    border: 1px solid #949090;
    color: #2AB4EE;
    text-transform: uppercase;
    font-weight: 600;
    padding: 11px 35px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    width: 136px;
    display: inline-block;
    margin: 9px;
    text-align: center;
    }
    
    .testIdbutton button {
    width: 197px;
    }
    
    
    .testIdbutton button:hover,
    #submitBtn:hover{
    background: #2AB4EE;
    color: white;
    border: 1px solid #2AB4EE;
    }
    
    .uc_form-content {
    text-align: center;
    background: white;
    }
    
    
    /*Form styling*/
    
    .second_section {
    background: white;
    }
    
    .top-fields {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 26px;
    }
    
    .top-fields h3,
    .selectSize h3,
    .selectDevise h3,
    .selectAuthor h3,
    .selectLabel {
    text-transform: uppercase;
    font-size: 1.3em;
    display: block;
    margin: 10px;
    margin-left: 0;
    text-align: left;
    color: #374b52;
    }
    
    select {
    border: 1px solid #949090;
    height: 40px !important;
    background: white;
    width: 100%;
    text-align: center;
    height: 38px;
    margin-top: 10px;
    }
    
    
    /*hypo form*/
    
    .selecttext {
    display: inline-block;
    margin: 18px;
    color: #86969C;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    }
    
    
    .addBeth {
    display: block;
    color: #86969C;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 23px;
    }
    
    .hyp-checkbox {
    display: inline-block;
    margin-left: 21px;
    }
    
    .hyp-checkbox span {
    color: #6a7989;
    }
    
    
    /*insight form*/
    
    .radioSection span {
    font-weight: 500;
    margin: 9px;
    font-size: 15px;
    text-transform: uppercase;
    color: #2ab4ee;
    }
    
    .addPerson {
    color: #86969C;
    font-weight: bold;
    text-transform: uppercase;
    }
    
    .addPerson p {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    }
    
    .addPerson select {
    display: inline-block;
    }
    
    
    /*test idea*/
    
    .idea_form.second_section .input:first-of-type {
    width: 100%;
    max-width: 75%;
    }
    
    
    #uc_sprint_partial {
    border-top: 10px solid #f3f1f1;
    }
    /* HEADER */
    div.header{
        text-transform: uppercase;
        font-size: 1.5em;
        display: block;
        margin: 50px 0 30px 0;
        text-align: center;
        color: #2AB4EE;
        font-weight: bold;
    }
    
    /*INPUTS*/
    
    .form-field {
        display: block;
        width: 50%;
        margin: 0 auto;
        text-align: left;
        padding-top: 0px;
        padding-bottom: 15px;
    
    }
    
    .form-field .label{
        text-transform: uppercase;
        font-size: 1.3em;
        display: block;
        margin: 10px;
        margin-left: 0;
        text-align: left;
        color: #374b52;
        font-weight: bold;
    }

    .form-field .required{
        color: #ea1c1c;
        margin-left: 3px;
    }

    
    .second_section .field, select {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    display: block;
    height: 20px;
    padding: 10px;
    line-height: 1.33333;
    border-radius: 6px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    
    .devicetype {
    width: 27%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    margin: 2px;
    text-align: center;
    cursor: pointer;
    }
    
    
    .device-name {
    text-align: center;
    font-size: 16px;
    margin: 5px;
    color: #2ab4ee;
    text-transform: uppercase;
    display: inline-block;
    }
    
    span.underfieldtext {
    display: block;
    font-size: 14px;
    margin-top: 10px;
    color: #86969c;
    }
    span.underfieldtext.sidetext {
    display: block;
    font-size: 14px;
    margin-left: 40%;
    color: #86969c;
    }
    
    span.underfieldtext a{
        color: #2ab4ee;
    }

    span.underfieldtext img {
        width: 19px;
        vertical-align: middle;
        margin: 6px;
    }
    /*indivdiual sizes*/
    
    input#testID {
        width: 30%;
        text-align: left;
        float:left;
    }

    input#sideBySide, label#sideBySide {
        width: 40%;
        text-align: left;
        float:left;
        margin-right: 10%;
        
    }
    label#sideBySide{
        font-size: 1.3em;
    }
    input#sideBySide {
        width: 30%;
        margin-right: 15%;
        margin-bottom: 20px;
    }

    input#testName,
    input#sampleSize,
    input#testExpect,
    input#testChange,
    input#testMethod,
    input#testObserve {
    width: 97%;
    }
    
    /*input#variations,
    input#trafficPercent,
    input#baseline,
    input#runLength,
    input#minEffect {
    width: 8%;
    }*/

    input#minEffect{
        display: inline-block;
    }
    .MDE-percent {
        font-size: 16px;
        margin-left: 6px;
        font-weight: bold;
        color: #374b52;
    }

    
    input#testConflict{
        width: 95%;
    }

    textarea{
        width: 95%;
    }
    
    input#objGoals,
    input#events,
    textarea#changeLog {
    width: 95%;
    margin-bottom: 10px;
    }
    
    .ucform-breakpoint {
        border: 3px solid #2AB4EE;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    .addgoalbutton,
    .addeventsbutton,
    .addvariationbutton{
    font-size: 15px;
    color: #31b6ef;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    }

    .form-field.time #targetTime{
        display: none;
    }
    .form-field.time .time-button {
        display: inline-block;
        padding: 8px;
        border: 1px solid;
        border-radius: 4px;
        color: #2ab4ee;
        margin: 10px;
        font-size: 17px;
        width: 50px;
        text-align: center;
        font-weight: 500;
        cursor: pointer;
    }

    .form-field.time .time-button.timeActive{
        background: #2ab4ee;
        color: white;
    }
    
    
    /*animated fields
    
    .input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 19px 31px 23px 27px;
    max-width: 350px;
    width: 36%;
    }
    
    .input__field {
    position: relative;
    display: block;
    float: right;
    width: 100%;
    margin: 0 -1rem;
    padding: 1rem .5rem;
    border: none;
    border-radius: 0;
    background: transparent;
    opacity: 0;
    color: #6a7989;
    font-size: 13px;
    transition: opacity 0.3s;
    }
    
    .input__field:focus {
    outline: none;
    }
    
    .input__label {
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 0 .5rem;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    color: #86969C;
    font-weight: bold;
    font-size: 1.17em;
    text-align: left;
    pointer-events: none;
    user-select: none;
    }
    
    .label__content {
    position: relative;
    display: block;
    padding: 1rem 0;
    width: 100%;
    transition: transform 0.3s 0.3s;
    }
    
    .input__label::before,
    .input__label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    }
    
    .input__label::before {
    border-top: 2px solid #6a7989;
    transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
    transition-delay: 0.3s;
    }
    
    .input__label::after {
    z-index: -1;
    background: rgba(232, 232, 232, 0.58);
    transform: scale3d(1, 0, 1);
    transform-origin: 50% 0;
    }
    
    .input__field:focus,
    .input--filled .input__field {
    opacity: 1;
    transition-delay: 0.3s;
    }
    
    .input__field:focus+.input__label .label__content,
    .input--filled .label__content {
    transform: translate3d(0, -80%, 0);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    color: #34b4ee;
    }
    
    .input__field:focus+.input__label::before,
    .input--filled .input__label::before {
    transition-delay: 0s;
    }
    
    .input__field:focus+.input__label::before,
    .input--filled .input__label::before {
    transform: translate3d(0, 0, 0);
    }
    
    .input__field:focus+.input__label::after,
    .input--filled .input__label::after {
    transform: scale3d(1, 1, 1);
    transition-delay: 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
